* {
    margin: 0;
}

body {
    background-color: #d3d3d3;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: darkgray;
    border: 10px solid rgb(142, 142, 142);
    padding: 10px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.box {
    background-color: white;
    width: 65px;
    height: 65px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}